@page "/"
@using Microsoft.FluentUI.AspNetCore.Components



<FluentCard Class="col-lg-6 col-xs-12">
  <h2>Hello World!</h2>
  <FluentButton Appearance="@Appearance.Outline">Click Me</FluentButton>
</FluentCard>
